[submodule "Pangolin"]
	path = Pangolin
	url = https://github.com/JonanaBanana/Pangolin
[submodule "ceres-solver"]
	path = ceres-solver
	url = https://github.com/JonanaBanana/ceres-solver
[submodule "kindr"]
	path = kindr
	url = https://github.com/JonanaBanana/kindr
[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = https://github.com/JonanaBanana/ORB-SLAM3-No-Pangolin
